@import '~font-awesome/less/font-awesome';
@import (css) '~cd-themify-icons/index.css';
@import (css) '~cd-toastr/index.css';
@import 'c/bootstrap/index';
@import 'c/common';
@import 'c/helper';

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}
* {
  outline: none !important;
}
.login-modal {
  h4 {
    font-weight: normal;
  }
  .login-vline {
    position: absolute;
    height: 80%;
    border-left: 1px solid #EEE;
    left: 50%;
    top: 35px;
  }
}