@import '../../c/palette';
@import '../../c/variable';

@banner-height:100px;
// .home {
//   .test {
//     color: red;
//   }
// }

.banner{
	height: @banner-height;
	background-color: @grey;
	.banner-content{
		
	}
}
section.hot-tb{
	background-color: @light-grey;
	header{
		background-color: @grey;
		p{
			font-size: @font-16;
			font-weight: bold;
			line-height: 30px;
			margin-left: 4px;
		}
	}
	.hot-tb-container{
		.hot-tb-list-wrap{
			margin-left:0px;
			padding-bottom: 10px;
			.hot-tb-list{
				margin-top:10px;
				img{
					float: left;
				    width: 60px;
				    height: 60px;
				}
				.summary{
					height: 60px;
					margin-left:66px;
					.tb-name{
						font-weight: bold;
						font-size: @font-14;
						a{
							color: @blodcolor;
							text-decoration: none;
						}
					}
					.summary-info{
						font-size: @font-14;
					}
					}
			}
		}
		
	}
}
section.greatest-article{
	background-color: @light-grey;
	margin-top:20px;
	header{
		background-color: @grey;
		p{
			font-size: @font-16;
			font-weight: bold;
			line-height: 30px;
			margin-left: 4px;
		}
	}
	.greatest-article-container{
		// background-color: @light-grey;
		.greatest-article-list-wrap{
			padding-top:6px;
			.greatest-article-list{

			}
		}
	}
	.tb-about{
		img{
			
		}

	}
	.article-about{

	}

}




